VITE_FIREBASE_API_KEY=AIzaSyCo8Qodp1iX8lXGgViNebkD_6dJjq8PRXc
VITE_FIREBASE_AUTH_DOMAIN=sms-caps.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sms-caps
VITE_FIREBASE_STORAGE_BUCKET=sms-caps.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=519783908456
VITE_FIREBASE_APP_ID=1:519783908456:web:943a24ba6983f194d6a7dd
VITE_FIREBASE_MEASUREMENT_ID=G-C6D8SP135J
